<!DOCTYPE html>
<html>
  <head>
    <title><%=@avmaterials.slug%></title>
    <script src="/dist/js/avviewer.js"></script>
    <link href="/dist/css/avviewer.css" rel="stylesheet"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
